<div class="card">
  <h1>last.fm weeder</h1>
  <div>
    <div>
      last.fm weeder is used to find any discrepancies in your last.fm scrobbles by scanning your library and looking for missing fields or incorrect data.
      <br /><br />
      The tool checks for:
      <ul>
        <li>Scrobbles without albums assigned</li>
        <li>Scrobbles where albums do not have an album cover</li>
        <li>Scrobbles without an <a href="https://musicbrainz.org/doc/MusicBrainz_Identifier" target="_blank">MBID (MusicBrainz Identifier)</a></li>
      </ul>
      <a href="https://www.last.fm/pro">last.fm Pro</a> subscribers can then edit these scrobbles to be correct.
      Using the <a href="https://github.com/danielrw7/lastfm-batch-edit" target="_blank">last.fm batch edit script</a> can come in handy.
    </div>
    <div style="display: flex; flex-direction: column;">
      @if (progress === null) {
        <div style="flex-grow: 1;">
          <p-floatLabel>
            <input [disabled]="loading > 0" id="username" type="text" pInputText [(ngModel)]="username" />
            <label for="username">last.fm Username</label>
          </p-floatLabel>
        </div>
        <div style="display: flex; gap: 1em; justify-content: right;">
          <p-button [disabled]="loading > 0" icon="pi pi-play" label="Weed" (click)="weed()"></p-button>
        </div>
      } @else {
        <div style="flex-grow: 1; align-items: center; justify-content: center; display: flex; flex-direction: column;">
          <p-progressBar [value]="progress"></p-progressBar>
          <p>Fetching scrobbles...</p>
        </div>
      } 
    </div>
  </div>
</div>

<p-toast position="top-center"></p-toast>
