@if (tracks === null) {
  <div class="card">
    <h1>last.fm weeder</h1>
    <div>
      <div>
        last.fm weeder is used to find any discrepancies in your last.fm scrobbles by scanning your library and looking for missing fields or incorrect data.
        <br /><br />
        The tool checks for:
        <ul>
          <li>Scrobbles without albums assigned</li>
          <li>Scrobbles where albums do not have an album cover</li>
          <li>Scrobbles without an <a href="https://musicbrainz.org/doc/MusicBrainz_Identifier" target="_blank">MBID (MusicBrainz Identifier)</a></li>
        </ul>
        <a href="https://www.last.fm/pro">last.fm Pro</a> subscribers can then edit these scrobbles to be correct.
        Using the <a href="https://github.com/danielrw7/lastfm-batch-edit" target="_blank">last.fm batch edit script</a> can come in handy.
      </div>
      <div style="display: flex; flex-direction: column;">
        @if (progress === null) {
          <div style="flex-grow: 1;">
            <p-floatLabel>
              <input [disabled]="loading > 0" id="username" type="text" pInputText [(ngModel)]="username" />
              <label for="username">last.fm Username</label>
            </p-floatLabel>
          </div>
          <div style="display: flex; gap: 1em; justify-content: right;">
            <p-button [disabled]="loading > 0" icon="pi pi-play" label="Weed" (click)="weed()" [disabled]="!username"></p-button>
          </div>
        } @else {
          <div style="flex-grow: 1; align-items: center; justify-content: center; display: flex; flex-direction: column;">
            <p-progressBar [value]="progress"></p-progressBar>
            <p>Fetching scrobbles...</p>
          </div>
        } 
      </div>
    </div>
  </div>
} @else {
  <p-splitter class="full">
    <ng-template pTemplate>
      <div class="full center">
        <div class="ed-form">
          <p-checkbox [binary]="true" [(ngModel)]="groupScrobbles" (onChange)="refilterTracks()"></p-checkbox>
          <span>Group scrobbles<i class="pi pi-info-circle" pTooltip="Groups scrobbles with the same title and artist together."></i></span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div class="full">
        <p-table class="full" [value]="filteredTracks" [paginator]="tracks.length > 100" [rows]="100"
          [scrollable]="true" scrollHeight="flex" [style.overflow]="'auto'"
          [showCurrentPageReport]="tracks.length > 100" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} scrobbles">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="artist.#text"><p-sortIcon field="artist.#text"></p-sortIcon>Artist</th>
              <th pSortableColumn="name"><p-sortIcon field="name"></p-sortIcon>Track</th>
              @if (!groupScrobbles) {
                <th pSortableColumn="album.#text"><p-sortIcon field="album.#text"></p-sortIcon>Album</th>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-track>
            <tr>
              <td><a href="{{getLibraryAlbumLink(track.url)}}" target="_blank">{{ track.artist["#text"] }}</a></td>
              <td><a href="{{getLibraryTrackLink(track.url)}}" target="_blank">{{ track.name }}</a></td>
              @if (!groupScrobbles) {
                <td>{{ track.album["#text"] }}</td>
              }
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-template>
  </p-splitter>
}

<p-toast position="top-center"></p-toast>
